.login {
  height: 100vh;
  width: 100%;
  display: flex;

  &__content {
    background-color: map-get($theme-colors, primary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h1, p {
      color: white;
    }

    h1 {
      margin: 0 0 5px;
    }

    p {
      opacity: 0.7;
      margin: 0 0 30px;
    }

    @include breakpoint(xs) {
      width: 50%;
      text-align: left;
    }
  }
  
  &__image {
    width: 50%;
    display: none;
    background: url('../assets/logo-bg.jpg');
    background-size: cover;
    padding: 20px;
    overflow: hidden;

    @include breakpoint(xs) {
      display: inline-block;
    }

    .card {
      margin-bottom: 15px;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  &__card-list {
    pointer-events: none;
    -webkit-animation-duration: 60s;
    animation-duration: 60s;
  }
}