.post-list {
  margin-top: 30px;

  ul {
    margin: 0;
  }

  &__message {
    padding: 50px 20px 10px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;

    img {
      max-height: 50px;
    }

    p {
      margin-top: 15px;
      opacity: 0.5;
    }
  } 
}